{{define "lovforslag-analysis"}}
    {{ template "header" }}

    I want to get as many lovforslag as possible and then their cases?

    query a lot of lovforslag, with their sagstrin and then analyse. 

    {{ template "footer" }}
{{end}}