{{define "lovforslag"}}
    {{ template "header" }}
    <div class="card title">
        <h1 >{{.Nummer}}: {{.TitelKort}}</h1>
    </div>
    <div class="card lovforslag">
        <h3>{{.Titel}}</h3>
        <p>{{.Resume}}</p>
        <h3>Afstemningskonklusion</h3>
        <p>{{.Afstemningskonklusion}}</p>
    </div>
    <div class="tmln" hx-get="/sagstrin?sagid={{.Id}}" hx-trigger="load" hx-request='{"noHeaders": true}'></div>
    <!--<div class="timeline" hx-get="/sagstrin?sagid={{.Id}}" hx-trigger="load" hx-request='{"noHeaders": true}'></div>-->
    {{ template "footer" }}
{{end}}

{{define "list"}}
    {{ template "header" }}
        {{range .}}
            <tr><td>{{.Lovnummer}}</td><td><a href="/lovforslag/{{.Id}}" hx-boost="true">{{.TitelKort}}</a></td></tr>
        {{end}}
    {{ template "footer" }}
{{end}}

{{define "update"}} 
    <h1>Updated database successfully</h1>
    <ul>
        <li>Inserted {{.Count}} new Lovforslag</li>
        <li>Database contains {{.Total}} Lovforslag</li>
    </ul>
{{end}}