html {
    height: 100%;
    margin:0px;
}

body {
    min-height: calc(100vh - 40px); /* calc height minus margin*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    column-gap: 25px;
    margin:20px 25px;
    row-gap: 20px;
    justify-items: stretch;
    justify-content: stretch;
    font-family: Helvetica, Arial, sans-serif;
}

.item {
    padding: 5px;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    grid-area: 2;
}

.item.header {
    grid-row: 1;
    grid-column: 1 / span 3;
}

.item.footer {
    grid-row: 3;
    grid-column: 1 / span 3;
}

