{{define "sagstrin"}}
    {{ $length := len . }}
    {{range $index, $el := .}}
        {{/* see: https://stackoverflow.com/a/72465098 */}}
        <div class="sagstrin" style="--count:{{ $length }}; --index: {{ len (printf "a%*s" $index "") }};">
            <div class="line"></div>
            <div class="dot"></div>            
            <div class="content">
                <b>{{.Dato.Format "01-01-2006" }}</b>
                <p>{{.Titel}}</p>
                {{/* TODO: Implement language localization over the date string. Alternative, is to just keep it as a string and format it. */}}
            </div>
        </div>
    {{end}}
{{end}} 